<!DOCTYPE html>
<html>
    <head>
        <title>Jack Hartfield Sports Club</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>

    <body>
    <nav class="navbar">
        <div class="logo">
            <img src="../static/images/Logo.jpg">
        </div>

        <ul>
            <li><a href="/Home">Home</a></li> 
            <li><a href="Fitness_Center">Fitness Center</a></li> 
            <li><a href="/Membership">Membership</a></li> 
            <li><a href="/Room_Hire">Room Hire</a></li> 
            <li><a href="/Login">Login</a></li>
        </ul>
    </nav>

     <header style="background-color: black; color: white;">
          <h1>Fitness Center</h1>
      </header>

    <section class="about-section">

    <div class="about-text fade-in">
        <h1>Welcome to Jack Hartfield Sports Club</h1>
        <p>
            Here at Jack Hartfield Sports Club we welcome everyone from our local community. 
            Jack Hartfield Sports Club is a welcoming community space in the heart of Acklam, 
            built on the legacy of John Gatenby “Jack” Hatfield - the Olympic swimmer and water polo 
            player who won three medals at the 1912 Stockholm Games and went on to become one of 
            Teesside’s most respected sporting figures. The modern club grew from land originally 
            connected to the old Middlesbrough Employees Sports Club, later rebuilt and officially 
            reopened in 2007 as the Jack Hatfield Sports and Social Club, continuing his family’s 
            long tradition of supporting local sport and community life. Today, the club offers a 
            friendly fitness centre, lively weekly events, social activities, and flexible room‑hire 
            facilities, all designed to give both new and long‑standing members the best possible 
            experience!
        </p>
    </div>

    <div class="about-gallery fade-in">
        <div class="slider">
            <img src="../static/images/Fitness-1.jpg" alt="inside fitness senter">
            <img src="../static/images/Fitness-2.jpg" alt="inside fitness senter">
            <img src="../static/images/Fitness-3.jpg" alt="inside fitness senter">
            <img src="../static/images/Fitness-4.jpg" alt="inside fitness senter">
        </div>

        <button class="slide-btn prev">‹</button>
        <button class="slide-btn next">›</button>
    </div>
    </section>
    
     <section class="about-section">

    <div class="about-text fade-in">
        <p>
            <p>The following fees will apply to the users of the fitness room 2023</p>
            <li>The annual fee will be £120</li>
            <li>This will apply from the 1st February 2023 until the 31st of January 2024 and coincides with club membership renewal.</li>
            <li>Fee payable is pro-rata with the months left following the induction and begins on the 1st of the month a member was inducted.</li>

        <p>
            February = £120

            March = £110

            April = £100

            May = £90

            June = £80

            July = £70

            August = £60

            September = £50

            October = £40

            November = £30

            December = £20
        <p>

        <p>
            Cheques should be made payable to: Jack Hatfield Sports Club Ltd
            Failure to pay will result in members being barred from the fitness room until payment is received
            You MUST be a member of the club to use the fitness room
            Payments must be made in full
        <p>    

        </p>
    </div>

    </section>
    <footer style="background-color: black; color: white;">
        <p>Made by team and Amcgee at Ghost Innovations LTD</p>
    </footer>

    <script src="../static/Fade.js"></script>
</body>
</html>