<!DOCTYPE html>
<html>
    <head>
        <title>Jack Hartfield Sports Club</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>

    <body>
        
        <nav class="navbar">

            <div class="logo">
                <img src="../static/images/Logo.jpg">
            </div>

             <ul>
                <li><a href="/Home">Home</a></li> 
                <li><a href="/Fitness_Center">Fitness Center</a></li> 
                <li><a href="/Membership">Membership</a></li> 
                <li><a href="/Room_Hire">Room Hire</a></li> 
                <li><a href="/Login">Login</a></li>
            </ul>

            
        </nav>


     <header style="background-color: rgba(0, 0, 0, 0); color: white;">
        <h1>Fitness Center</h1>

     <div class="about-gallery fade-in">
        <div class="slider">
            <img src="../static/images/Fitness-1-300x169.jpg" alt="clubhouse2">
            <img src="../static/images/Fitness-2.jpg" alt="Inside">
            <img src="../static/images/Fitness-3-300x169.jpg" alt="seating1">
            <img src="../static/images/Fitness-4-300x169.jpg" alt="weddingseating">
        </div>

     <footer style="background-color: black; color: white;"></footer>
        <p>Made by Jacob at Ghost Innovations LTD</p>

     </footer>   
    </body>
</html>