<!DOCTYPE html>
<html>
<head>
    <title>Login - Jack Hartfield Sports Club</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <nav class="navbar">
        <div class="logo">
            <img src="../static/images/Logo.jpg">
        </div>

        <ul>
            <li><a href="/Home">Home</a></li> 
            <li><a href="/Fitness_Center">Fitness Center</a></li> 
            <li><a href="/Membership">Membership</a></li> 
            <li><a href="/Room_Hire">Room Hire</a></li> 
            <li><a href="/Login" class="active">Login</a></li>
        </ul>
    </nav>

    <section class="login-section">
        <div class="login-box">
            <h1>Member Login</h1>

            <form>
                <label>Email</label>
                <input type="email" placeholder="Enter your email" required>

                <label>Password</label>
                <input type="password" placeholder="Enter your password" required>

                <button type="submit">Login</button>
            </form>

            <p class="signup-text">
                Don't have an account?
                <a href="/Create_Account">Create one here</a>
            </p>
        </div>
    </section>

    <footer class="site-footer">
        <div class="footer-widget-area">
            <section class="footer-widget">
                <h2>How To Find Us</h2>
                <p>Rockingham Court<br>
                    Middlesbrough<br>
                    TS5 7BN</p>
                <iframe class="footer-map" title="Map showing Rockingham Court, Middlesbrough"
                    src="https://www.google.com/maps?q=Rockingham%20Court%0D%0AMiddlesbrough%0D%0ATS5%207BN&amp;output=embed&amp;hl=en-GB&amp;z=14"
                    loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </section>
            <section class="footer-widget">
                <h2>Contact Us</h2>
                <p><strong>Email</strong><br>
                    <a href="mailto:jackhatfieldpmc@gmail.com">jackhatfieldpmc@gmail.com</a></p>
                <p><strong>Phone</strong><br>
                    <a href="tel:01642816873">01642 816873</a></p>
            </section>
        </div>
        <p class="footer-credit">Made by Jacob/Amcgee at Ghost Innovations LTD</p>
    </footer>

</body>
</html>
