<!DOCTYPE html>
<html>
    <head>
        <title>Jack Hartfield Sports Club</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>

    <body>
    <nav class="navbar">
        <div class="logo">
            <img src="../static/images/Logo.jpg">
        </div>

        <ul>
            <li><a href="/Home">Home</a></li> 
            <li><a href="Fitness_Center">Fitness Center</a></li> 
            <li><a href="/Membership">Membership</a></li> 
            <li><a href="/Room_Hire">Room Hire</a></li> 
            <li><a href="/Login">Login</a></li>
        </ul>
    </nav>

     <header style="background-color: black; color: white;">
          <h1>Membership</h1>
      </header>

    <section class="about-section">

    <div class="about-text fade-in">
        <h1>Welcome to Jack Hartfield Sports Club</h1>
        <p>
        The function room seats 110 people and is available for £70 to non-members, £100 for commercial enterprises , and it is free to members. The function room is available from 10am to 11pm, subject to availability. 
        We have held a large variety of events in the past: Weddings, funerals, birthdays, engagements, kids party’s, clairvoyants, games nights, race nights, rokas, community meetings, The Womens Institute, book launches………………
        Unfortunately, the function room is unavailable on Wednesday, Fridays and Saturday evening due to club activities.
        </p>
        <p>
        We do not hold 18th or 21st birthdays
        </p>    
    </div>

    <div class="about-gallery fade-in">
        <div class="slider">
            <img src="../static/images/Clubhouse2.jpg" alt="clubhouse2">
            <img src="../static/images/InsideClub.jpg" alt="Inside">
            <img src="../static/images/seating1.jpg" alt="seating1">
            <img src="../static/images/seatingWedding.jpg" alt="weddingseating">
        </div>

        <button class="slide-btn prev">‹</button>
        <button class="slide-btn next">›</button>
    </div>
    </section>
    
     <section class="about-section">

    <div class="about-text fade-in">
        <p>

        <p>
      
        <p>
            
        <p>
            Cheques should be made payable to: Jack Hatfield Sports Club Ltd
            Failure to pay will result in members being barred from the fitness room until payment is received
            You MUST be a member of the club to use the fitness room
            Payments must be made in full
        <p>    

        </p>
    </div>

    </section>
    <footer style="background-color: black; color: white;">
        <p>Made by team and Amcgee at Ghost Innovations LTD</p>
    </footer>

    <script src="../static/Fade.js"></script>
</body>
</html>