<!DOCTYPE html>
<html>
    <head>
        <title>Jack Hartfield Sports Club</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>

    <body>
    <nav class="navbar">
        <div class="logo">
            <img src="../static/images/Logo.jpg">
        </div>

        <ul>
            <li><a href="/Home">Home</a></li> 
            <li><a href="Fitness_Center">Fitness Center</a></li> 
            <li><a href="/Membership">Membership</a></li> 
            <li><a href="/Room_Hire">Room Hire</a></li> 
            <li><a href="/Login">Login</a></li>
        </ul>
    </nav>

     <header style="background-color: black; color: white;">
          <h1>Membership</h1>
      </header>

    <section class="about-section">

    <div class="about-text fade-in">
        <h1>Welcome to Jack Hartfield Sports Club</h1>
        <p>
        not done yet
        </p>
    </div>

    <div class="about-gallery fade-in">
        <div class="slider">
            <img src="../static/images/roomhire1.jpg" alt="a lot of tables layed out">             
            <img src="../static/images/roomhire2.jpg" alt="a lot of tables layed out">             
            <img src="../static/images/roomhire3.jpg" alt="a lot of tables layed out">             
            <img src="../static/images/roomhire4.jpg" alt="tables set out for event with unin jack theme">             
            <img src="../static/images/roomhire5.jpg" alt="weddingseating layedout with ballons and white tableclot
        </div>

        <button class="slide-btn prev">‹</button>
        <button class="slide-btn next">›</button>
    </div>
    </section>
    
     <section class="about-section">

    <div class="about-text fade-in">
        <p>

        <p>
      
        <p>
            
        <p>
            Cheques should be made payable to: Jack Hatfield Sports Club Ltd
            Failure to pay will result in members being barred from the fitness room until payment is received
            You MUST be a member of the club to use the fitness room
            Payments must be made in full
        <p>    

        </p>
    </div>

    </section>
    <footer style="background-color: black; color: white;">
        <p>Made by team and Amcgee at Ghost Innovations LTD</p>
    </footer>

    <script src="../static/Fade.js"></script>
</body>
</html>