<!DOCTYPE html>
<html>
    <head>
        <title>Jack Hartfield Sports Club</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>

    <body>
        
        <nav class="navbar">

            <div class="logo">
                <img src="../static/images/Logo.jpg">
            </div>

             <ul>
                <li><a href="/Home">Home</a></li> 
                <li><a href="/Fitness_Center">Fitness Center</a></li> 
                <li><a href="/Membership">Membership</a></li>
                <li><a href="/Room_Hire">Room Hire</a></li> 
                <li><a href="/Login">Login</a></li>
            </ul>

            
        </nav>


     <header style="background-color: black; color: white;">
        <h1>Room hire<h1>

     <footer style="background-color: black; color: white;"></footer>
        <p>Made by Jacob at Ghost Innovations LTD</p>
     </footer>   
    </body>
</html>